.main_container {
    width: 100vw;
    max-width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.profile_img {
    animation: zoomIn 4s ease;
    border-radius: 200px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-top: 200px;
    margin-bottom: 150px;
}

.text_container {
    width: 85%;
    max-width: 1700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(23px + 16 * ((100vw - 420px) / 1180));
}

.start_text {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #c5c5c5;
    margin-top: 0px;
    margin-bottom: 0px;

    a {
        text-decoration: none;
    }
}

.hello_icon {
    height: calc(40px + 30 * ((100vw - 420px) / 1180));
    width: calc(40px + 30 * ((100vw - 420px) / 1180));
    max-width: 80px;
    max-height: 80px;
}

.colored_text {
    color: #b5a188;
}

.link_text {
    color: #ffc22e;
}

.focused_text {
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
        color: #ffc22e;
    }
}

.textblock_container {
    margin-top: 150px;
    margin-bottom: 100px;
}

@media (max-width: 1000px) {
    .text_container {
        width: 93%;
    }
}

@media (max-width: 800px) {
    .profile_img {
        width: 220px;
        height: 220px;
        margin-top: 130px;
        margin-bottom: 65px;
    }

    .textblock_container {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

@media (max-height: 800px) {
    .profile_img {
        width: 220px;
        height: 220px;
        margin-top: 130px;
        margin-bottom: 65px;
    }

    .textblock_container {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

@media (max-height: 440px) {
    .profile_img {
        width: 220px;
        height: 220px;
        margin-top: 90px;
        margin-bottom: 20px;
    }

    .textblock_container {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}
