<div  class="main_container">
    <img #profile  id="profile" class="profile_img" src="assets/img/simon_weiss.jpg" alt="">
    <section class="text_container">
        <h1><img class="hello_icon" src="assets/img/hello.png" alt=""> Hi...</h1>
        <p class="start_text">I'm <b class="colored_text">Simon</b>, a frontend developer from
            Stuttgart <b class="colored_text">Germany</b>.</p>
        <p class="start_text">Currently i'm working at Novafon in a <b class="colored_text">junior developer</b> position.
        <p class="start_text">I like to build <b class="colored_text">professional web applications</b> with <b
                class="colored_text">Angular</b> and open minded people.</p>
       
        <p class="start_text">These are my <a routerLink="/projects"><b class="link_text focused_text"> projects</b></a> so far.
        </p>
        <div class="textblock_container">
            <p class="start_text">It would be great to <a routerLink="/chat"><b class="colored_text focused_text">chat
                </b></a>with you...</p>
        </div>
        <div class="textblock_container">
            <p class="start_text colored_text">Stay awesome &</p>
            <p class="start_text colored_text">Have {{textSlide[currentText]}} {{today}}</p>
        </div>
    </section>
</div>
