<div  class="main_container">
    <img id="profile" class="profile_img" src="assets/img/simon_weiss.jpg" alt="">
    <section class="text_container">
        <h1>✌🏽 Hi...</h1>
        <p class="start_text">I'm <b class="colored_text">Simon</b>, a 100% motivated frontend development startup from
            Stuttgart <b class="colored_text">Germany</b>.</p>
        <p class="start_text">Currently i'm looking for my <b class="colored_text">first 🤔 job</b>, building on my
            experience and starting my career in IT with a <b class="colored_text">junior developer</b> position.</p>
        <p class="start_text">I like to build <b class="colored_text">professional web applications</b> with <b
                class="colored_text">Angular</b> and open minded people.</p>
        <p class="start_text">At the developer akademie in<b class="colored_text"> Munich</b> i learned professional
            coding.</p>
        <p class="start_text">These 👉🏽<b class="link_text focused_text"> projects</b> i created on my own and in
            teams.
        </p>
        <div class="textblock_container">
            <p class="start_text">If you want to chat, please feel free to <b class="colored_text focused_text">contact
                </b>me...</p>
        </div>
        <div class="textblock_container">
            <p class="start_text colored_text">Stay awesome &</p>
            <p class="start_text colored_text">Have {{textSlide[currentText]}} {{today}}</p>
        </div>
    </section>
</div>
