<div class="footer_section d_flex_column">
    <div class="footer_container">
        <a target="_blank" href="https://github.com/Ysicode">Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/simon-weiss-605291243/">LinkedIn</a>
        <a target="_blank" href="https://www.instagram.com/simonweiss.io/">Instagram</a>
    </div>

    <div *ngIf="!mobileModus" class="copyright_container ">
        <div class="copyright d_flex">
            <p>copyright</p>
            <p>Simon Weiss {{currentYear}}</p>
        </div>
        <div class="d_flex">
            <a routerLink="/imprint">Imprint</a>
            <a routerLink="/privacy">Privacy</a>
        </div>
       
    </div>


</div>