<div class="main_container">
    <!-- <img id="profile" class="about_img" src="assets/img/myFamily.JPG" alt=""> -->
    <section class="text_container about">
        <h1 class="page_id highlight_text">That's me <a class="cv_link" download="CV - Simon Weiss.pdf" href="assets/CV - Simon Weiss.pdf"> download CV</a></h1>

        <p class="start_text">Im a creative, young thinking and open minded person who loves to develop and create new
            things.<br><b class="colored_text">Frontend Developer</b>.</p>
        <h2 class="section_title">Techstack</h2>

        <div class="techstack_container">
            <div class="techstack_row d_flex">
                <div class="techstack d_flex_column">
                    <img src="assets/img/angular.png" alt="">
                    <h3 class="stack_text">Angular</h3>
                </div>
                <div class="techstack d_flex_column">
                    <img src="assets/img/javascript.png" alt="">
                    <h3 class="stack_text">Javascript</h3>
                </div>
                <div class="techstack d_flex_column">
                    <img src="assets/img/html.png" alt="">
                    <h3 class="stack_text">Html</h3>
                </div>
                <div class="techstack d_flex_column">
                    <img src="assets/img/css.png" alt="">
                    <h3 class="stack_text">Css</h3>
                </div>
            </div>

            <div class="techstack_row d_flex">
                <div class="techstack d_flex_column">
                    <img src="assets/img/git.png" alt="">
                    <h3 class="stack_text">Git</h3>
                </div>
                <div class="techstack d_flex_column">
                    <img src="assets/img/api.png" alt="">
                    <h3 class="stack_text">Rest API</h3>
                </div>
                <div class="techstack d_flex_column">
                    <img src="assets/img/database.png" alt="">
                    <h3 class="stack_text">Database</h3>
                </div>
                <div class="techstack d_flex_column">
                    <img src="assets/img/scrum.png" alt="">
                    <h3 class="stack_text">Scrum</h3>
                </div>
            </div>
        </div>
        <div class="link_projects_container d_flex_end start_text">
            <a routerLink="/projects"><b class="link_text"> projects ></b></a>
        </div>

        <h2 class="section_title">Story</h2>
        <div class="story_container">
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="colored_text">2004</b><b class="start_text info_text"> i startet to
                            work at Mercedes Benz (development center trucks)</b></p>
                </div>
            </div>
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="colored_text">2010</b><b class="start_text info_text"> i decided to
                            try another way, building the Kamafari Surfcamp on Bali from scratch </b><a target="_blank" rel="noopener noreferrer" href="https://www.kamafari-surfcamps.com/en/"><b
                            class="focused_text">check</b></a></p>
                </div>
            </div>
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="colored_text">2018</b><b class="start_text info_text"> i startet
                            working as an employee at Vhf camfacture AG and developed a complex high tech machine in a
                            team </b><a target="_blank" rel="noopener noreferrer" href="https://www.vhf.de/produkte/industrie-werbetechnik/cnc-fraesmaschinen/x/"><b class="focused_text">check</b></a></p>
                </div>
            </div>
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="colored_text">2020</b><b class="start_text info_text"> i developed
                            my own fitness bench. It should look clean with a maximum of trainings variations </b> <a target="_blank" rel="noopener noreferrer" href="https://kaiu-sport.de/"><b
                            class="focused_text">check</b></a></p>
                </div>
            </div>
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="colored_text">2021</b><b class="start_text info_text"> i finally
                            decided to learn coding professionally and focus on a career in IT...</b></p>
                </div>
            </div>
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="link_text">2022</b><b class="start_text info_text"> Junior software developer 
                        at Novafon GmbH
                    </b></p>
                </div>
            </div>
        </div>


        <div class="textblock_container">
            <p class="start_text">It would be great to <a routerLink="/chat"><b class="colored_text focused_text">chat
            </b></a>with you...</p>
        </div>

    </section>
</div>