<div  class="main_container">
    <img id="profile" class="about_img" src="assets/img/myFamily.JPG" alt="">
    <section class="text_container">
        <h1 class="page_id">That's me</h1>
      
        <p class="start_text">Im a creative, young thinking and open minded person who loves to develop and create new things.<b class="colored_text">Frontend Developer</b>.</p>
        <h2 class="section_title">Techstack</h2>

        <h2 class="section_title">Story</h2>
        <div class="story_container">
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="colored_text">2004</b><b class="start_text info_text"> i startet to work at Mercedes Benz (development center trucks)</b></p> 
                </div>
            </div>
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="colored_text">2010</b><b class="start_text info_text"> i decided to try another way, building the Kamafari Surfcamp on Bali from scratch </b><b class="focused_text">check</b></p> 
                </div>
            </div>
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="colored_text">2018</b><b class="start_text info_text"> i startet working as an employee at vhf camfacture ag and developed a complex high tech machine in a team </b><b class="focused_text">check</b></p> 
                </div>
            </div>
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="colored_text">2020</b><b class="start_text info_text"> i developed my own fitness bench. It should look clean with a maximum of trainings variations </b><b class="focused_text">check</b></p> 
                </div>
            </div>
            <div class="story_event">
                <div class="story">
                    <p class="start_text"><b class="link_text">2021</b><b class="start_text info_text"> i finally decided to learn coding professionally and focus on a career in IT...</b></p> 
                </div>
            </div>
        </div>


        <div class="textblock_container">
            <p class="start_text">If you want to chat, please feel free to <b class="colored_text focused_text">contact
                </b>me...</p>
        </div>
        
    </section>
</div>

