<header [class.header_open]="open_navbar">
    <div class="left_navbar d_flex">
        <div class="logo_wrapper d_flex">
            <img #logo1 routerLink="/" class="logo" src="assets/img/logo.png" alt="">
        </div>
        <div class="myName_wrapper">
            <p #myName class="my_name"></p>
        </div>
    </div> 

    <div class="navbar_right_container d_flex">
        <div *ngIf="!mobileModus" [class.navlinks_open]="open_navbar" class="navlinks d_flex">
            <a routerLink="/" (click)="closeMenu()">HOME</a>
            <a routerLink="/about" (click)="closeMenu()">THAT'S ME</a>
            <a routerLink="/projects" (click)="closeMenu()">PROJECTS</a>
            <a routerLink="/chat" (click)="closeMenu()">CHAT</a>
        </div>
        <div>
            <div *ngIf="mobileModus" [class.sidemenu_open]="open_navbar" class="sidemenu ">
                <div class="sidebar_container_top">
                    <a routerLink="/" (click)="closeMenu()">HOME</a>
                    <a routerLink="/about" (click)="closeMenu()">THAT'S ME</a>
                    <a routerLink="/projects" (click)="closeMenu()">PROJECTS</a>
                    <a routerLink="/chat" (click)="closeMenu()">CHAT</a>
                </div>
                
                <div class="sidebar_container_bottom d_flex_column">
                    <a routerLink="/imprint" (click)="closeMenu()">IMPRINT</a>
                    <a routerLink="/privacy" (click)="closeMenu()">PRIVACY</a>
                    <div class="copyright">
                        <p>copyright</p>
                        <p>Simon Weiss 2022</p>
                    </div>
                </div>

            </div>
        </div>


        <div (click)="openMenu()" class="burger">
            <div [class.line1_clicked]="open_navbar" class="line1"></div>
            <div [class.line2_clicked]="open_navbar" class="line2"></div>
        </div>
    </div>
</header>