<header>
    <img class="logo" src="assets/img/logo.png" alt="">
    <div class="navbar_right_container d_flex">
        <div id="navbar_links" class="links_container d_flex">
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">CODE</a>
            <a href="#">CHAT</a>
        </div>

        <div onclick="openMenu()" class="burger">
            <div id="line1" class="line1"></div>
            <div id="line2" class="line2"></div>
        </div>

    </div>
</header>