<header>
    <div class="left_navbar">
        <div class="logo_wrapper">
            <img #logo1 routerLink="/" class="logo" src="assets/img/logo.png" alt="">
        </div>
        <div class="myName_wrapper">
            <p #myName class="my_name"></p>
        </div>
    </div>

    <div class="navbar_right_container d_flex">
        <div *ngIf="!mobileModus" [class.navlinks_open]="open_navbar" class="navlinks d_flex">
            <a routerLink="/">HOME</a>
            <a routerLink="/about">THAT'S ME</a>
            <a routerLink="/projects">PROJECTS</a>
            <a routerLink="/chat">CHAT</a>
        </div>
        <div>
            <div *ngIf="mobileModus" [class.sidemenu_open]="open_navbar" class="sidemenu ">
                <a routerLink="/">HOME</a>
                <a routerLink="/about">THAT'S ME</a>
                <a routerLink="/projects">PROJECTS</a>
                <a routerLink="/chat">CHAT</a>
                <div class="copyright">
                    <a routerLink="/projects">IMPRINT</a>
                    <a routerLink="/chat">PRIVACY</a>
                </div>
                <p>Simon Weiss</p>
                <p>© Copyright 2022</p>

            </div>
        </div>


        <div (click)="openMenu()" class="burger">
            <div [class.line1_clicked]="open_navbar" class="line1"></div>
            <div [class.line2_clicked]="open_navbar" class="line2"></div>
        </div>
    </div>
</header>