header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100px;
    width: 100vw;
    max-width: 100%;
    z-index: 999;

    .left_navbar {
        margin-left: 2.5%;
    }

    .logo_wrapper {
        height: 50px;
        width: 50px;
        object-fit: contain;
    }

    .logo {
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    .myName_wrapper {
        margin-left: -14px;
    }

    .my_name {
        transition: all 400ms ease-in-out;
        font-size: 35px;
        color: #c5c5c5;
        font-weight: bold;
    }

    .navbar_right_container {
        margin-right: 2.5%;
    }

    .navlinks {
        margin-right: 10px;
        transform: scaleX(0);
        transition: all 150ms ease;
    }

    .navlinks_open {
        transform: scaleX(1);
    }

    a {
        text-decoration: none;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        color: #c5c5c5;
        font-size: 25px;
        font-weight: bold;
    }

    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: -3px;
        height: 3px;
        background-color: #ffc22e;
        transform: scaleX(0);
        transition: transform 100ms ease-out;
    }

    a:hover::before {
        transform: scaleX(1);
    }

    .sidemenu {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 40%;
        right: 0;
        top: 0;
        background: #071317;
        transform: translateX(700px);
        transition: all 200ms ease-in-out;
        a {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 50px;
        }
    }

    .sidemenu_open {
        transform: translateX(0px);
    }

    .sidebar_container_top {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 150px;
    }

    .sidebar_container_bottom {
        padding-bottom: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

        .copyright {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: column;
            margin-top: 30px;

            p {
                margin-top: 0px;
                margin-bottom: 0px;
                color: #c5c5c5;
                margin-right: 50px;
            }
        }
    }

    .imprint {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 50px;

        a {
            margin-right: 0px !important;
        }
    }

    .burger {
        width: 80px;
        height: 80px;
        z-index: 9999;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        @keyframes burgerHover {
            from {
                margin-top: 0;
            }
            to {
                margin-top: 6px;
            }
        }

        &:hover {
            .line2 {
                animation: burgerHover 150ms ease;
                background: #ffc22e;
            }

            .line1 {
                background: #ffc22e;
            }
        }
    }

    .line1 {
        display: block;
        width: 35px;
        height: 3px;
        background: #c5c5c5;
        transition: transform 225ms ease-in-out;
    }

    .line1_clicked {
        transform: rotate(45deg);
        background: #ffc22e;
    }

    .line2 {
        display: block;
        width: 35px;
        height: 3px;
        background: #c5c5c5;
        margin-top: 6px;
        transition: transform 225ms ease-in-out;
    }

    .line2_clicked {
        transform: rotate(-45deg);
        margin-top: -3px;
        background: #ffc22e;
    }
}

.header_open {
    background: #071317;
}

@media (max-width: 800px) {
    .sidemenu {
        width: 60% !important;
    }
}

@media (max-width: 500px) {
    .sidemenu {
        width: 100% !important;
    }

    .logo {
        width: 85% !important;
        height: 85% !important;
    }

    .my_name {
        font-size: 30px !important;
    }
}

@media (max-height: 800px) {
    .sidebar_container_top {
        padding-top: 100px !important;
    }
}

@media (max-height: 550px) {
    .sidebar_container_top {
        padding-top: 80px !important;
    }

    .sidemenu {
        a {
            margin-top: 5px !important;
            margin-bottom: 5px !important;
            font-size: 1.2em;
        }
    }

    .sidebar_container_bottom {
        a {
            font-size: 0.9em !important;
        }
    }

    .copyright {
        flex-direction: row !important;
        margin-top: 10px !important;
        margin-right: 50px;

        p {
            margin-left: 10px;
            margin-right: 0px !important;
        }
    }

    .imprint {
        flex-direction: row !important;
    }
}
