<div class="main_container">

    <section class="text_container projects">
        <h1 class="projects_title highlight_text">Projects</h1>
        <div class="project_container">
            <h2 class="project_description">Game | Jump n Run</h2>
            <div id="0" class="project_show_container">
                <div (click)="openProject('0')" class="project d_flex">
                    <video [muted]="'muted'" playsinline width="100%" height="100%" autoplay constrols loop>
                        <source src="assets/img/polloLoco.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="project_link d_flex">
                    <a target="_blank" rel="noopener noreferrer" href="http://simon-weiss.developerakademie.net/Pollo-Loco-JumpNrun/index.html"><h2 class="open_project_link_">Play</h2></a>
                </div>
            </div> 
            <h2  class="project_title">El Pollo Loco</h2>
        </div>

        <div class="project_container">
            <h2 class="project_description">RESTful API | All Pokemons</h2>
            <div id="1" class="project_show_container">
                <div (click)="openProject('1')"  class="project d_flex">
                    <video [muted]="'muted'" playsinline width="100%" height="100%" autoplay constrols loop>
                        <source src="assets/img/pokedex.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="project_link d_flex">
                    <a target="_blank" rel="noopener noreferrer" href="http://simon-weiss.developerakademie.net/Pokemon-API/index.html"><h2 class="open_project_link_">Open</h2></a>
                </div>
            </div> 
            <h2 class="project_title">Pokedex</h2>
        </div>

        <div  class="project_container ">
            <h2 class="project_description">Project Managment tool</h2>
            <div id="2" class="project_show_container">
                <div (click)="openProject('2')" class="project d_flex">
                    <video [muted]="'muted'" playsinline width="100%" height="100%" autoplay constrols loop>
                        <source src="assets/img/join.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="project_link d_flex">
                    <a target="_blank" rel="noopener noreferrer" href="https://gruppe-265.developerakademie.net/Gruppenarbeit-Join/help.html"><h2 class="open_project_link_">Open</h2></a>
                </div>
            </div> 
            <h2 class="project_title">Join</h2>
        </div>

        <div class="project_container ">
            <h2 class="project_description">Game</h2>
            <div id="3" class="project_show_container">
                <div (click)="openProject('3')" class="project d_flex">
                    <img class="procets_img" src="assets/img/tictactoe.png" alt="">
                </div>
                <div class="project_link d_flex">
                    <a target="_blank" rel="noopener noreferrer" href="http://simon-weiss.developerakademie.net/tic-tac-toe/index.html"><h2 class="open_project_link_">Play</h2></a>
                </div>
            </div> 
            <h2 class="project_title">Tic Tac Toe</h2>
        </div>





        <div class="textblock_container">
            <p class="start_text">It would be great to <a routerLink="/chat"><b class="colored_text focused_text">chat
            </b></a>with you...</p>
        </div>

    </section>
</div>