.main_container {
    width: 100vw;
    max-width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.projects {
    margin-top: 200px;
}

.project_container {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
    &:hover {
        .project,
        .project_link {
            opacity: 1;
            max-height: 800px;
        }
    }
}

.project_description {
    color: #c5c5c5;
    font-size: 1em !important;
}

.project {
    max-height: 0px;
    width: 65%;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.8s, opacity 0.5s ease-in-out;
}

.project_link {
    width: 35%;
    opacity: 0;
    max-height: 0px;
    transition: opacity 0.5s ease-in;

    &:hover {
        .open_project_link_ {
            color: #ffc22e;
        }
    }

    a {
        text-decoration: none;
    }
}

.project_title {
    font-size: 2em !important;
}

.procets_img {
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.project_overlay {
    background: #141414;
    position: absolute;
    width: 97%;
    height: 95%;
    z-index: 0;
    transition: all 50ms ease-in-out;
}

.section_title {
    margin-top: 100px;
    margin-bottom: 40px;
}

.text_container {
    width: 85%;
    max-width: 1700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(25px + 16 * ((100vw - 420px) / 1180));
}

.start_text {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #c5c5c5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.color {
    color: #dadada;
}

.colored_text {
    color: #be8e68;
}

.link_text {
    color: #ffc22e;
}

.focused_text {
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
        color: #ffc22e;
    }
}

.textblock_container {
    margin-top: 150px;
    margin-bottom: 100px;
}

@media (max-width: 1300px) {
}

@media (max-width: 900px) {
    .text_container {
        width: 93%;
    }
}
