<div class="main_container">
 
    <section class="text_container projects">
        <h1 class="page_id">Projects</h1>
        
        <img class="procets_img" src="assets/img/pepe.png" alt="">
        <img class="procets_img" src="assets/img/join.png" alt="">
        <img class="procets_img" src="assets/img/projects.png" alt="">
        <img class="procets_img" src="assets/img/tictactoe.png" alt="">
       

        <div class="textblock_container">
            <p class="start_text">If you want to chat, please feel free to <b class="colored_text focused_text">contact
                </b>me...</p>
        </div>

    </section>
</div>
