<div class="main_container">

    <section class="text_container chat">
      <h1 class="highlight_text" >Chat</h1>
      <div class="textblock_container">
        <p class="start_text colored_text">I'm always open to new challenges as a software developer.</p>
        <p class="start_text colored_text">Would be great to chat with you.</p>
      </div>

      <div class="textblock_container">
        <p class="start_text project_title"><a href="mailto:hello@simon-weiss.com">hello@simon-weiss.com</a></p>
      </div>
      
    </section>
    
</div>
